*{
    margin: 0px;
    padding: 0px;
}

.NavBarEdit{
    background-color: #cbbea5;
    height: 80px;
    display: flex;
    box-shadow: 3px 3px 3px 3px lightgray;
    width: 1290px;
}

.NavBarHeader{
    color: white;
    font-size: 55px;
    margin-left: 10px;
}